* {
    margin: 0;
    padding: 0;
}

/* Hidden elements for mobile */
#navDesktop, #footerDesktopLinks {
    display: none;
}

/* Mobile First */
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    height: 100vh;
    width: 100%;
}

#navbar {
    flex: 0 1 auto;
    align-self: flex-start;

    width: 100%;
}

#navMobile {
    display: flex;
    justify-content: space-between;

    padding: 10px;
    width: calc(100% - 20px);
}
#mobileSignInBtn {
    background-color: #4285F4;
    border: none;
    border-radius: 6%;
    padding: 5px 10px;
}
#mobileSignInBtn a {
    color: white;
    text-decoration: none;
}

#mobileMenuBtn {
    color: #4285F4;
    background-color: white;
    border: none;
    font-size: 26px;
}

#main {
    flex: 0 1 auto;
    align-self: center;

    width: 100%;
}

#mainSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchField {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer {
    flex: 0 1 auto;
    align-self: flex-end;

    width: 100%;
}

#footerMobileLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}