* {
    margin: 0;
    padding: 0;
}

/* Hidden elements for mobile */
#navDesktop, #footerDesktopLinks, #searchBtns {
    display: none;
}

/* Mobile First */
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    height: 100vh;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

#navbar {
    flex: 0 1 auto;
    align-self: flex-start;

    width: 100%;
}

#navMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    width: calc(100% - 20px);
}

#leftMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navLinks {
    font-size: 12px;
}

#mobileSignInBtn {
    background-color: #4285F4;
    border: none;
    border-radius: 6%;
    padding: 5px 10px;
}
#mobileSignInBtn a {
    color: white;
    text-decoration: none;
}

#mobileMenuBtn {
    background-color: white;
    border: none;
    font-size: 26px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 auto;
    align-self: center;

    width: calc(100% - 20px);
}

#mainSearch {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

#googleImage {
    max-width: 100%;
    height: auto;
}

#searchField {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 10px;
    width: 100%;
}

#searchBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 100%;
}

#searchBar i {
    background-color: #4285F4;
    border: #d2d2d2;
    border-left: none;
    color: white;
    padding: 8px;
    text-align: justify;
    transform: scaleX(-1);
}

#search {
    border: 1px solid #d2d2d2;
    border-right: 0;
    border-radius: 0;
    height: 100%;
    width: 100%;
}

#footer {
    flex: 0 1 auto;
    align-self: flex-end;

    background-color: #f2f2f2;
    width: 100%;
}

#footerMobileLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    margin: 20px 0;
}

.mobileLinks {
    font-size: 12px;
    padding: 0 10px;
}