* {
    margin: 0;
    padding: 0;
}

/* Hidden elements for mobile */
#navDesktop, #footerDesktopLinks, #searchBtns, #iconDesktop {
    display: none;
}

/* Mobile First */
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    scroll-behavior: smooth;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

#navbar {
    flex: 0 1 auto;
    align-self: flex-start;

    width: 100%;
}

#navMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    width: calc(100% - 20px);
}

#leftMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navLinks {
    font-size: 12px;
}

#signInBtn {
    background-color: #4285F4;
    border: none;
    border-radius: 6%;
    padding: 5px 10px;
}
#signInBtn a {
    color: white;
    text-decoration: none;
}

#mobileMenuBtn {
    background-color: white;
    border: none;
    font-size: 26px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 auto;
    align-self: center;

    width: calc(100% - 20px);
}

#mainSearch {
    display: flex;
    flex-direction: column;
    align-items: center;

    
    margin-top: -200px;
    width: 100%;
}

#googleImage {
    height: auto;
    margin-bottom: 25px;
    max-width: 100%;
}

#searchField {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 10px;
    width: 100%;
}

#searchBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 100%;
}

#iconMobile {
    background-color: #4285F4;
    border: #d2d2d2;
    border-left: none;
    color: white;
    padding: 8px;
    text-align: justify;
    transform: scaleX(-1);
}

#search {
    border: 1px solid #d2d2d2;
    border-right: 0;
    border-radius: 0;
    height: 100%;
    width: 100%;
}

#footer {
    flex: 0 1 auto;
    align-self: flex-end;

    background-color: #f2f2f2;
    width: 100%;
}

#footerMobileLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    margin: 20px 0;
}

.mobileLinks {
    font-size: 12px;
    padding: 0 10px;
}

/* Media Query */
@media only screen and (min-width: 768px) {
    #navMobile, #footerMobileLinks, #iconMobile {
        display: none;
    }

    #navDesktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 20px;
        width: calc(100% - 40px);
    }

    #leftNav, #rightNav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .navLinks:hover {
        text-decoration: underline;
    }

    #moreOptions {
        font-size: 22px;
    }

    #moreOptions:hover {
        background-color: #d2d2d3;
        border-radius: 50%;
    }

    #footerDesktopLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        height: 40px;
    }

    #leftFooterLinks, #rightFooterLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 20px;

        padding: 0 30px;
    }

    .footerLinks {
        color: #666666;
        font-size: 12px;
    }

    .footerLinks:hover {
        text-decoration: underline;
    }

    #main {
        width: 25%;
    }

    #searchBar {
        height: 40px;
    }

    #iconDesktop, #iconMobile {
        display: inline;
        background-color: white;
        border: 1px solid #d2d2d3;
        border-left: 0;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        color: #666666;
        padding: 10px;
        transform: scaleX(-1);
    }

    #iconMobile {
        transform: scaleX(1);
        color: white;
    }

    #search {
        border-left: none;
        height: 36px;
    }

    #searchBtns {
        display: flex;
        flex-direction: row;        

        margin-top: 30px;
    }  
    
    #searchBtns button {
        background-color: #f2f2f2;
        border: none;
        padding: 10px 20px;
        margin: 0 10px;
        border-radius: 3px;
    }
}